<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Spotfizz</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Spotfizzbeta">
        <meta name="author" content="Spotfizz.com">
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
